
  
  .file-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black; /* Orange background */
    min-height: 200px; /* Set minimum height */
    width: 200px;
    border-radius: 6px; /* Black border */
    position: relative; /* Add relative positioning */
  }
  
  .file-drop-area {
    border: 2px dashed #007bff;
    border-radius: 5px;
    background: burlywood;
    padding: 20px;
    transition: border-color 0.3s ease;
    text-align: center;
    color: black;
  }
  
  .file-drop-area.dragging {
    border-color: #0056b3;
  }
  
  .file-input {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  
  .upload-button {
    margin-top: 15px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #007bff; /* Blue background */
    color: #fff; /* White text */
    border: none;
    cursor: pointer;
  }
  
  .upload-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
  }
  
  .selected-files {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start */
  }
  
  .selected-files h3 {
    margin: 0;
  }
  
  .selected-files ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0; /* Adjusted margin top for ul */
  }
  
  .selected-files ul li {
    display: flex; /* Use flexbox for aligning items */
    align-items: center; /* Center items vertically */
    margin-bottom: 5px;
  }
  
  .selected-files ul li svg {
    margin-left: 5px; /* Add margin to the left of the icon for spacing */

}
  